*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100wh;
    height: 100vh;
    background-image:linear-gradient(rgb(89, 15, 89),black) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.content{
    position: relative;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: rgba(119, 213, 228, 0.333);
    height: 70%;
    min-width: 60%;
    /* border: 1px solid white; */
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    overflow-y: auto;
    
}

[input-data]{
    
    top: 1.5rem;
    margin: 1rem 2rem;
    margin-bottom: 2rem;
    width: 92%;
    height: 3rem;
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 2rem;
    color: rgb(203, 157, 41);

}

li{
    all: unset;
    
    
    
    
}

li p{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 92%;
    background-color: rgb(133, 219, 219);
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0px 2rem;
    margin-bottom: 10px;
    font-size: 1.5rem;
    user-select: none;
}

 .active{
    background-color: rgb(216, 255, 139);
    text-decoration: line-through;
}

button{
    all: unset;
    cursor: pointer;
    text-decoration: dotted;
}